---
layout: default
---
<link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap" rel="stylesheet">

{% case page.weather %}
  {% when 'sunny'  %}{% assign weather_icon = '☀️' %}
  {% when 'cloudy' %}{% assign weather_icon = '☁️' %}
  {% when 'rainy'  %}{% assign weather_icon = '🌧️' %}
  {% else %}{% assign weather_icon = '📝' %}
{% endcase %}

<div class="nb3">
  <div class="nb3-head">
    <span class="nb3-series">🌸 ハヘロ かんさつ日記</span>
  </div>
  <div class="nb3-stamp-row">
    <div class="nb3-stamp">{{ weather_icon }}</div>
    <div class="nb3-stamp-meta">
      <div class="nb3-meta-row">
        <span class="nb3-ml">ひづけ</span>
        <span class="nb3-mv">{{ page.date_label }}</span>
      </div>
      <div class="nb3-meta-row">
        <span class="nb3-ml">ようす</span>
        <span class="nb3-mv">{{ page.weather_label }}</span>
      </div>
      <div class="nb3-meta-row">
        <span class="nb3-ml">かいたひと</span>
        <span class="nb3-mv">{{ page.observer }}</span>
      </div>
    </div>
  </div>
  <div class="nb3-title">{{ page.title }}</div>
  {% if page.tags %}
  <div class="nb3-tags">
    {% for tag in page.tags %}
    <span class="nb3-tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
  <div class="nb3-body">
    {{ content }}
  </div>
  <div class="nb3-footer">✏️ かんさつメモ：このきろくは AI がかんさつしてかきました。</div>
</div>

{% include post_navigation.html %}
{% include share_button.html %}
